<ion-fab vertical="top" horizontal="center" slot="fixed">
  <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
  <ion-fab-list side="center">
    <ion-fab-button><ion-icon name="home-outline" color="primary" (click)="pageHome()"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="list-outline" color="primary" (click)="pageList()"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="ellipse-outline" color="primary" (click)="pagePokemon()"></ion-icon></ion-fab-button>
  </ion-fab-list>
 </ion-fab>