<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="newTodo" name="task" placeholder="Agregar nueva tarea"></ion-input>
    <ion-button (click)="addToDo()">Agregar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let todo of todos; let i = index">
      <ion-label [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">
        {{ todo.task }}
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="todo.completed" (ionChange)="toggleComplete(i)"></ion-checkbox>
      <ion-button color="warning" (click)="editTask(i)">Editar</ion-button>
      <!-- colocar modal para editar -->
      <ion-button color="danger" (click)="removeTask(i)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
